services:
  s3:
    image: minio/minio:RELEASE.2023-11-20T22-40-07Z
    container_name: minio
    command: server --console-address ":9001" /data
    ports:
      - "9900:9000"
      - "9901:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - s3_storage:/data

  createbuckets:
    image: minio/mc:RELEASE.2023-11-20T16-30-59Z
    container_name: minio-createbuckets
    depends_on:
      - s3
    volumes:
      - ./resources/data/bucket_content/:/data
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://s3:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/demo;
      /usr/bin/mc policy set public myminio/demo;
      /usr/bin/mc cp --recursive /data/* myminio/demo;
      exit 0;
      "

volumes:
  s3_storage: {}
