name: CI_Check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'
          cache: true

      - name: Setup environnment
        run: |
          sudo apt-get update -y
          sudo apt-get install -y gcc libgl1-mesa-dev xorg-dev

      - name: Install dependencies
        run: |
          go get .
          go install fyne.io/fyne/v2/cmd/fyne@latest
          
      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: >
            --timeout=5m
            ./...

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
